<a href="https://colab.research.google.com/github/ashimashahi15/Python/blob/main/%5BPython%5D_Lists_and_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Lists**

Lists are one of the 4 data types in Python used to store collections of data.
Lists in Python represent ordered sequences of values. They can be defined with comma-separated values between square brackets. For example, here is a list of the first few prime numbers

In [ ]:
primes = [2, 3, 5, 7]
primes

[2, 3, 5, 7]

We can put other types of things in lists:

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

Including other lists:

In [ ]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
hands

[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

A list can contain a mix of different types:

In [ ]:
my_favourite_things = [32, 'raindrops on roses', help]

In [ ]:
print(my_favourite_things)

[32, 'raindrops on roses', Type help() for interactive help, or help(object) for help about object.]

# **Indexing**

We can access individual list elements using Python's square bracket indexing syntax.

In [ ]:
planets[0]

'Mercury'

In [ ]:
planets[1]

'Venus'

In [ ]:
planets[-1]

'Neptune'

In [ ]:
planets[-2]

'Uranus'

In [ ]:
planets[0:3]

['Mercury', 'Venus', 'Earth']

In [ ]:
planets[:3]

['Mercury', 'Venus', 'Earth']

In [ ]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:

# All the planets except the first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

# **Mutating lists**

Lists are mutable, meaning they can be modified "in place".

One way to modify a list is to assign to an index or slice expression.

For example, let's say we want to rename Mars:

In [ ]:
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

# **List functions**

Python has several useful builtin functions for working with lists.

len gives the length of a list:

In [ ]:
# How many planets are there?
len(planets)

8

sorted returns a sorted version of a list:

In [ ]:
# The planets sorted in alphabetical order
sorted(planets)

['Earth',
 'Jupiter',
 'Malacandra',
 'Mercury',
 'Neptune',
 'Saturn',
 'Uranus',
 'Venus']

In [ ]:
primes = [2, 3, 5, 7]
sum(primes)

17

In [ ]:
max(primes)

7

# **List methods**

In [ ]:
# Pluto is a planet darn it!
planets.append('Pluto')

In [ ]:
help(planets.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [ ]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

list.pop removes and returns the last element of a list:

In [ ]:
planets.pop()

'Pluto'

In [ ]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

insert adds an element to a list at a given position:

In [ ]:
furniture = ['table', 'chair', 'rack', 'shelf']
furniture.insert(1, 'bed')
furniture

['table', 'bed', 'chair', 'rack', 'shelf']

del()
del removes an item using the index:

In [ ]:
furniture = ['table', 'chair', 'rack', 'shelf']
del furniture[2]
furniture

['table', 'chair', 'shelf']

del()
del removes an item using the index:

In [ ]:
del furniture[2]
furniture

['table', 'chair']

remove()
remove removes an item with using actual value of it:

In [ ]:
furniture = ['table', 'chair', 'rack', 'shelf']
furniture.remove('chair')
furniture

['table', 'rack', 'shelf']

# **Tuples**

Tuples are almost exactly the same as lists. They differ in just two ways.

1: The syntax for creating them uses (optional) parentheses rather than square brackets

In [ ]:
t = (1, 2, 3)
t

(1, 2, 3)

2: They cannot be modified (they are immutable).

In [ ]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

Tuples are often used for functions that have multiple return values.

For example, the as_integer_ratio() method of float objects returns a numerator and a denominator in the form of a tuple:

In [ ]:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [ ]:
furniture = ('table', 'chair', 'rack', 'shelf')

furniture[0]

'table'

In [ ]:

furniture[1:3]

('chair', 'rack')

In [ ]:
len(furniture)

4