<a href="https://colab.research.google.com/github/ashimashahi15/Python/blob/main/Python_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Initializing a set**

There are two ways to create sets: using curly braces {} and the built-in function set()

In [ ]:
s = {1, 2, 3}
s = set([1, 2, 3])

# **Unordered collections of unique elements**

A set automatically remove all the duplicate values.

In [ ]:
s = {1, 2, 3, 2, 3, 4}
s

{1, 2, 3, 4}

And as an unordered data type, they can’t be indexed.

In [ ]:
s = {1, 2, 3}
s[0]

TypeError: 'set' object is not subscriptable

# **set add and update**

Using the add() method we can add a single element to the set.

In [ ]:
s = {1, 2, 3}
s.add(4)
s

{1, 2, 3, 4}

And with update(), multiple ones:

In [ ]:
s = {1, 2, 3}
s.update([2, 3, 4, 5, 6])
s

{1, 2, 3, 4, 5, 6}

# **set remove and discard**

Both methods will remove an element from the set, but remove() will raise a key error if the value doesn’t exist.

discard() won’t raise any errors.

In [ ]:
s = {1, 2, 3}
s.remove(3)
s

{1, 2}

In [ ]:
s.remove(3)

KeyError: 3

In [ ]:
s = {1, 2, 3}
s.discard(3)
s

{1, 2}

In [ ]:

s.discard(3)

# **set union**

union() or | will create a new set with all the elements from the sets provided.

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1.union(s2)  # or 's1 | s2'

{1, 2, 3, 4, 5}

# **set intersection**

intersection() or & will return a set with only the elements that are common to all of them.

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = {3, 4, 5}
s1.intersection(s2, s3)  # or 's1 & s2 & s3'

{3}

# **set difference**

difference() or - will return only the elements that are unique to the first set (invoked set).

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

s1.difference(s2)  # or 's1 - s2'

{1}

In [ ]:
s2.difference(s1) # or 's2 - s1'

{4}